[submodule "crawl-dir/0.24"]
	path = crawl-dir/0.24
	url = git@github.com:crawl/crawl.git
	update = none
[submodule "crawl-dir/0.25"]
	path = crawl-dir/0.25
	url = git@github.com:crawl/crawl.git
	update = none
[submodule "crawl-dir/0.26"]
	path = crawl-dir/0.26
	url = git@github.com:crawl/crawl.git
	update = none
[submodule "crawl-dir/0.27"]
	path = crawl-dir/0.27
	url = git@github.com:crawl/crawl.git
	shallow = true
[submodule "crawl-dir/0.28"]
	path = crawl-dir/0.28
	url = git@github.com:crawl/crawl.git
	shallow = true
[submodule "crawl-dir/0.29"]
	path = crawl-dir/0.29
	url = git@github.com:crawl/crawl.git
	shallow = true
[submodule "crawl-dir/0.30"]
	path = crawl-dir/0.30
	url = git@github.com:crawl/crawl.git
	shallow = true
[submodule "crawl-dir/0.31"]
	path = crawl-dir/0.31
	url = git@github.com:crawl/crawl.git
	shallow = true
[submodule "crawl-dir/0.32"]
	path = crawl-dir/0.32
	url = git@github.com:crawl/crawl.git
	shallow = true
[submodule "crawl-dir/0.33"]
	path = crawl-dir/0.33
	url = git@github.com:crawl/crawl.git
	shallow = true
