[submodule "crawl-dir/0.27.1"]
	path = crawl-dir/0.27.1
	url = git@github.com:crawl/crawl.git
[submodule "crawl-dir/0.28.0"]
	path = crawl-dir/0.28.0
	url = git@github.com:crawl/crawl.git
[submodule "crawl-dir/0.29.1"]
	path = crawl-dir/0.29.1
	url = git@github.com:crawl/crawl.git
